.desc-temp-out#simple .desc-temp-copy {
    display: none;
}

.desc-temp-category {
    display: none;
}

#storeCategories {
    display: none;
}

.col_l module_l {
    display: none;
}

#simple .footer_content>.grid>.footer_l {
    display: none;
}

.footer_content {
    background-color: #eee;
    height: 50px;
    min-height: 199px;
    max-height: 50px;
}

#simple .footer_content {
    background-color: #cde4f2;
    background-position-y: bottom;
    background-position-x: center;
    background-repeat: no-repeat;
    background-image: url(https://varcoh.github.io/sucoh/image/us-1-footer.png);
}

.module_r {
    width: 100%!important;
}

#simple .module_prompt {
    display: none;
}

#templateTit {
    text-align: left;
}

#simple #storeDescriptionTab .navi_pills>li {
    width: 150px;
    text-align: center;
    border: none;
    border-right: 1px solid #fff!important;
}

.navi_pills>li+li {
    border-left: none;
    border-right: 1px solid #fff!important;
}

#simple .body_content {
    background-color: #cde4f2;
    background-image: url(https://varcoh.github.io/sucoh/image/us-1-background-top.jpg);
    background-position-y: top;
    background-position-x: center;
    background-repeat: no-repeat;
}

#simple .grid {
    width: 1100px;
    padding: 100px 10px 0px 10px;
    box-sizing: border-box;
}

.page_out {
    padding: 0;
}

#simple .module_tit {
    background: #2196F3;
    font-weight: 600;
    padding: 0;
    overflow: hidden;
    background-image: url(https://varcoh.github.io/sucoh/image/us-1-title.jpg);
}

#simple #storeDescriptionTab .navi_pills {
    background-color: #2196F3;
    background-image: url(https://varcoh.github.io/sucoh/image/us-1-title.jpg);
}


.vfaq p {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 20px;
}

.faq-a {
    font-size: 16px;
    text-align: center;;
    line-height: 25px;
    margin-bottom: 20px;
}

.faq-b {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 20px;
}
