.desc-temp-out#simple .desc-temp-copy {
    display: none;
}

.desc-temp-category {
    display: none;
}

#storeCategories {
    display: none;
}

.col_l module_l {
    display: none;
}

#simple .footer_content>.grid>.footer_l {
    display: none;
}

.module_r {
    width: 100%!important;
}

#simple .module_prompt {
    display: none;
}

#templateTit {
    text-align: left;
}
#simple .module_tit {
    background: #2196F3;
}
